.card-wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.card1 {
	color: black;
	background-color: #fd99ff;
	width: 365px;
	height: 110px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding-inline: 4rem;
}

.card2 {
	color: black;
	background-color: #ff9e9e;
	width: 365px;
	height: 157px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-top: 25px;
	padding-inline: 4rem;
}

.card3 {
	color: black;
	background-color: #91f48f;
	width: 365px;
	height: 123px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-top: 25px;
	padding-inline: 4rem;
}

.card4 {
	color: black;
	background-color: #fff599;
	width: 365px;
	height: 110px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-top: 25px;
	padding-inline: 4rem;
}

.card5 {
	color: black;
	background-color: #9effff;
	width: 365px;
	height: 120px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-top: 25px;
	padding-inline: 6rem;
}

.card6 {
	color: black;
	background-color: #B69CFF;
	width: 365px;
	height: 100px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-top: 25px;
	padding-inline: 4rem;
}
