@import "/src/assets/styles/colors";


.card-wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px;
	position: relative;
	top: 100px;
	gap: 25px;

	.card {
		

		&-1 {
			background-color: red;
			color: blue;
		}
	}

	.card1 {
		color: black;
		background-color: #fd99ff;
		width: 100%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		padding: 22px 22px 21px 46px;
	}

	.card2 {
		color: black;
		background-color: $redpurple;
		width: 100%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		padding: 22px 22px 21px 46px;
	}

	.card3 {
		color: black;
		background-color: #91f48f;
		width: 100%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		padding: 22px 22px 21px 46px;
	}

	.card4 {
		color: black;
		background-color: #fff599;
		width: 100%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		padding: 22px 22px 21px 46px;
	}

	.card5 {
		color: black;
		background-color: #9effff;
		width: 100%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		padding: 22px 22px 21px 46px;
	}

	.card6 {
		color: black;
		background-color: #b69cff;
		width: 100%;
		border-radius: 10px;
		display: flex;
		align-items: center;
		padding: 22px 22px 21px 46px;
	}
	@media screen and (min-width: 500px) {
		flex-direction: row;
		flex-wrap: wrap;
		.card1,.card2,.card3,.card4,.card5,.card6{
			flex: 25%;
		}
		
	}
}
